@import 'tailwindcss';

@theme {
  --font-Inter: 'Inter', sans-serif;
  --font-Georgia: 'Georgia', sans-serif;

  --breakpoint-xsm: 370px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  --container-xsm: 100%;
  --container-sm: 100%;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1300px;
  --container-2xl: 1475px;
  --container-padding: 1rem;

  --color-red: #b9142f;
  --color-text: #4e4e4d;
}

.container {
  width: 100%;
  max-width: var(--container-2xl);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

@media (min-width: var(--screen-xsm)) {
  .container {
    max-width: var(--container-sm);
  }
}

@media (min-width: var(--screen-sm)) {
  .container {
    max-width: var(--container-md);
  }
}

@media (min-width: var(--screen-md)) {
  .container {
    max-width: var(--container-lg);
  }
}

@media (min-width: var(--screen-lg)) {
  .container {
    max-width: var(--container-xl);
  }
}
@media (min-width: var(--screen-xl)) {
  .container {
    max-width: var(--container-2xl);
  }
}
body {
  font-family: var(--font-Inter);
}
.tab-button.active {
  border-color: #2b3326 !important;
  color: #2b3326 !important;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
